<footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-menu_item">
                                <h4><a href="/tradingways">Trading <br>ways</a></h4>
                                <ul>
                                    <li><a href="/en/trading-methods/mam-account/">MAM Account</a></li>
                                    <li><a href="/en/trading-methods/copytrade/">CopyProfit</a></li>
									<li><a href="/en/trading-methods/robotrading/">Automated Trading</a></li>
                                    <li><a href="/en/trading-methods/personal-analyst/">Personal analyst</a></li>
                                    <li><a href="/en/trading-methods/selftrading/">Self-trading</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-menu_item">
                                <h4><a href="/deposits/">Invest</a></h4>
                                <ul>
                                    <li><a href="/en/deposits/cfd/">CFD</a></li>
                                    <li><a href="/en/deposits/fx/">Forex</a></li>
                                    <li><a href="/en/deposits/cm/">CM</a></li>
                                    <li><a href="/en/deposits/futures-indexes/">Index futures</a></li>
                                    <!-- <li><a href="">IPO</a></li> -->
                                    <!-- <li><a href="">Investment portfolio</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-menu_item">
                                <h4><a href="/about/">About</a></h4>
                                <ul>
                                    <li><a href="/en/about/contacts/">Our contacts</a></li>
                                    <li><a href="/how-to-start/">Get started</a></li>
                                    <li><a href="/en/about/terms-and-conditions/">Main terms and conditions</a></li>
                                    <li><a href="/en/about/technical-terms-and-conditions/">General Terms and Conditions</a></li>
                                    <li><a href="/en/about/deposit-and-withdrawal-policy/">Deposit & Withdrawal policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-menu_item">
                                <h4><a href="/for-traders/">Available CM tools</a></h4>
                                <ul>
                                    <li><a href="/en/for-traders/calculators/">Trading calculators</a></li>
                                    <li><a href="/en/for-traders/interest-rates/">World Interest Rates</a></li>
                                    <li><a href="/en/for-traders/calendar/">Economic calendar</a></li>
                                    <li><a href="/en/for-traders/signals/">Trading signals</a></li>
                                    <!--                     <li><a href="/en/deposits/">Daily market review</a></li> -->
                                    <li><a href="/en/for-traders/bloomberg-online/">Bloomberg online</a></li>
                                    <li><a href="/en/for-traders/faq/">FAQ</a></li>
                                    <li><a href="/en/for-traders/kyc/">KYC</a></li>
                                    <li><a href="/en/for-traders/forextv/">Forex TV</a></li>
                                    <li><a href="/en/for-traders/platforms/">Trading platforms</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 disclaimer-text">
                            <p>Warning: trading in financial instruments is a risky activity and can bring not only profit but also losses. The number of possible losses is limited by the amount of the deposit.</p>
                            <p>Boxinvesting.com (c) 2011-2019
                            <br>Sotfware and Media LTD, Ajeltake Road, Ajeltake Island, Majuro, Marshall Islands MH96969
                            <!-- <br>Alfalimited OÜ, Harju maakond, Tallinn, Lasnamäe linnaosa, Punane tn 68, 13619 -->
                            <br>Techical support email <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="493a3c3939263b3d092b263120273f2c3a3d20272e672a2624">[email&#160;protected]</a>
                            <br>The company BoxInvesting categorically excludes any cooperation with the citizens of United States of America.
                            <br>The company BoxInvesting categorically excludes any cooperation with legal entities of United States of America.
                            <br>The company BoxInvesting is not not offering CFD and CFD-like options to UK customers.</p>
                            <nav>
                        
                            
                            En
                                <a href="https://boxinvest-bucket.s3.amazonaws.com/static/information/files/privacy_and_refund_policy_en.pdf">Privacy Policy </a>
                                <a href="https://boxinvest-bucket.s3.amazonaws.com/static/information/files/copyrights_en.pdf">Copyright permissions and reprints</a>
                                <a href="https://boxinvest-bucket.s3.amazonaws.com/static/information/files/BoxInvesting_limited_aml.pdf">AML Policy</a>
                                <a href="https://boxinvest-bucket.s3.amazonaws.com/static/information/files/risk_disclosure_en.pdf">Risk Policy</a>
                                <a href="/en/about/customer-request-management/">Customer requests management</a>
                                <a href="/en/about/refund-policy/">Refund Policy</a>
                            
                            </nav>
                            <br>
                        </div>
                    </div>
                </div>
            </footer>

        <script data-cfasync="false" src=""></script><script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/jquery.min.js"></script>
        <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <!--[if lt IE 9]>
            <script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <![endif]-->

            <!-- Owl Carousel -->
            <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>

            <!-- Libphonenumber -->
            <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/vendors/libphonenumber-js.min.js"></script>

            <!-- jQuery validation Plugin -->
            <script src="https://boxinvest-bucket.s3.amazonaws.com/static/userprofile/js/jquery.validate.min.js" type="text/javascript"></script>

            <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/CACHE/js/b6e79c5c7190.js"></script>

            
<script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/rs-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/rs-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
   jQuery('.tp-banner').revolution(
   {
    delay:6000,
    startwidth:1170,
    startheight:500,
    hideThumbs:0,
    fullWidth:"off",
    fullScreen:"on",
    fullScreenOffsetContainer: "",
    navigationArrows: 'none',
    onHoverStop: "off",
    hideTimerBar: "on"
  });
 });
</script>


             <!-- Add russian translations to jquery validate. -->

    </body>
</html>
