<!DOCTYPE html>
<html>
    <head>
        <title>Boxinvesting  </title>
        <link rel="icon" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/favicon.ico" 			type="image/x-icon">
        <link rel="canonical" href="https://boxinvesting.com/" />
        
		<meta name="description" content="Successful trading in financial markets. Reliable investments with 				maximum return. No commissions.">

        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/bootstrap-				3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://boxinvest-																		bucket.s3.amazonaws.com/static/information/css/animate.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/jquery-ui-				1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/font-				awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://boxinvest-																		bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

        <!-- Affise System Tracker -->
        <script src="/app.js"></script>
        
        <script language="JavaScript" type="text/javascript" src="https://affcountry.g2afse.com/track.js"></script>
        <!-- Affise create lead -->
        <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/affise_integration.js"></script>
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/css/preloader.css">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/css/fonts.css">

        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/CACHE/css/fbc15f9763cc.css" type="text/css" />

        
<link rel="stylesheet" type="text/css" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/rs-slider/css/style.css">
<link rel="stylesheet" type="text/css" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/rs-slider/css/settings.css">

       
