<%- include('partials/header'); -%>

<!DOCTYPE html>
<html>
    <head>
        <title>Boxinvesting Sign In</title>
        <link rel="icon" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/favicon.ico" type="image/x-icon">
        <link rel="canonical" href="https://boxinvesting.com/" />
        
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/css/animate.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/jquery-ui-1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

        <!-- Affise System Tracker -->
        <script language="JavaScript" type="text/javascript">
            var afoffer_id = 4;
            var afsecure = "053eefd29d830f76b3c2121d0a3e628c";
            var affgoal = null;
        </script>
        <script language="JavaScript" type="text/javascript" src="https://affcountry.g2afse.com/track.js"></script>
        <!-- Affise create lead -->
        <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/affise_integration.js"></script>
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/css/preloader.css">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/information/css/fonts.css">

        <link rel="stylesheet" href="https://boxinvest-bucket.s3.amazonaws.com/static/CACHE/css/fbc15f9763cc.css" type="text/css" />

        

        <!--  -->
    </head>
    <body>
        <div id="preloader" class="preloader">
            <div class="pre_preloader">
                <img class="preloader__image" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/logo.png"/>
                <svg class="preloader__image_2" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="250px" height="250px" viewBox="0 0 128 128" xml:space="preserve"><g><path d="M64 0a7 7 0 1 1-7 7 7 7 0 0 1 7-7zm29.86 12.2a2.8 2.8 0 1 1-3.83 1.02 2.8 2.8 0 0 1 3.83-1.02zm22.16 21.68a3.15 3.15 0 1 1-4.3-1.15 3.15 3.15 0 0 1 4.3 1.15zm.87 60.53a4.2 4.2 0 1 1-1.57-5.7 4.2 4.2 0 0 1 1.54 5.73zm7.8-30.5a3.85 3.85 0 1 1-3.85-3.85 3.85 3.85 0 0 1 3.85 3.84zm-30 53.2a4.55 4.55 0 1 1 1.66-6.23 4.55 4.55 0 0 1-1.67 6.22zM64 125.9a4.9 4.9 0 1 1 4.9-4.9 4.9 4.9 0 0 1-4.9 4.9zm-31.06-8.22a5.25 5.25 0 1 1 7.17-1.93 5.25 5.25 0 0 1-7.14 1.93zM9.9 95.1a5.6 5.6 0 1 1 7.65 2.06A5.6 5.6 0 0 1 9.9 95.1zM1.18 63.9a5.95 5.95 0 1 1 5.95 5.94 5.95 5.95 0 0 1-5.96-5.94zm8.1-31.6a6.3 6.3 0 1 1 2.32 8.6 6.3 6.3 0 0 1-2.3-8.6zM32.25 8.87a6.65 6.65 0 1 1-2.44 9.1 6.65 6.65 0 0 1 2.46-9.1z" fill="#ffffff" fill-opacity="1"/><animateTransform attributeName="transform" type="rotate" values="0 64 64;30 64 64;60 64 64;90 64 64;120 64 64;150 64 64;180 64 64;210 64 64;240 64 64;270 64 64;300 64 64;330 64 64" calcMode="discrete" dur="1320ms" repeatCount="indefinite"></animateTransform></g></svg>
            </div>
        </div>
        <div class="container preloader hide-preloader" id="loader">
            <div class="row">
                <div class="col-md-12">
                    <div class="loader-wrapper">
                        <div class="loading loading-1"></div>
                        <p class="preloader-message">Wait, loading.</p>
                    </div>
                </div>
            </div>
        </div>
        <section id="header">
            <header class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="header-menu">
                                <!-- <li><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/phone.png">+7-958-111-1440</li> -->
                                <li><a href="/cdn-cgi/l/email-protection#c9babcb9b9a6bbbd89aba6b1a0a7bfacbabda0a7aee7aaa6a4"><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/mail.svg" class="top-icons"><span class="__cf_email__" data-cfemail="74070104041b060034161b0c1d1a021107001d1a135a171b19">[email&#160;protected]</span></a></li>
                                <li><a href="/en/about/contacts/"><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/contacts.svg" class="top-icons"> Contacts</a></li>
                                <li><a href="/en/support/"><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/headset.svg" class="top-icons">Support</a></li>
                                <li><a href="https://boxinvesting.sirixtrader.com/" target="_blank"><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/sirix.png">Web-platform</a></li>
                            </ul>
                            <!--       <ul class="header-support">

                                </ul> -->
                        </div>
                        <div class="col-lg-4 text-right">
                            <nav class="auth-menu">
                                
                                <a href="/login/">Sign In</a>
                                <a href="/register/">Sign Up</a>
                                
                            </nav>
                        </div>
                    </div>
            </header>
            <div class="desc-menu">
                <div class="container">
                    <nav class="main-nav">

                        <div class="logo-holder nav1">
                            <a href="/"><img alt="logo" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/logo.png"></a>
                        </div>
                        <ul class="text-right nav1">
                            <li><a href="//" >Home</a></li>
                            <li><a id="trd" href="/tradingways">Trading ways</a>
                                <ul>
                                    <div class="container">
                                        <div>
                                            <li><a href="/en/trading-methods/copytrade/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/copy_trades.svg">CopyProfit</a></li>
											<li><a href="/en/trading-methods/robotrading/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/robotrading.svg">Automated Trading</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/trading-methods/personal-analyst/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/personal_analitic.svg">Personal analyst</a></li>
                                            <li><a href="/en/trading-methods/selftrading/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/self_trade.svg">Self-trading</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/trading-methods/account-types/"><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/account_types.svg">Types of accounts</a></li>
                                            <li><a href="/en/trading-methods/mam-account/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/pamm.svg">MAM Account</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li><a id="depsts" href="/deposits/">Deposits/Investments</a>
                                <ul>
                                    <div class="container">
                                        <div>
                                             <li><a href="/en/deposits/futures-indexes/"><img alt="futures" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/futeres.svg">Index futures</a></li>

                                            <li><a href="/en/deposits/fx/"><img alt="forex" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/forex.svg">Forex</a></li>
                                        </div>

                                        <div>
                                            <!-- <li><a href=""><img alt="ipo" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/ipo.svg">IPO</a></li> -->
                                        </div>
                                        <div>

                                            <!-- <li><a href=""><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/invet_portfolio.svg">Investment portfolio</a></li> -->

                                            <li><a href="/en/deposits/bitcoin/"><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/bitcoin.svg">Investment in Bitcoin</a></li>
                                            <li><a href="/en/deposits/cfd/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/cfd.svg">CFD</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/deposits/cm/"><img alt="cm" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/cm.svg">CM</a></li>
                                            <!-- <li><a href=""><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/mining.svg">Cloud Mining</a></li> -->
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li><a id="abt" href="/about/">About</a></li>
                            <li><a id="htstrt" href="/how-to-start/">Get started</a></li>
                            <li><a id="frtrdrs" href="/for-traders/">Available CM tools</a>
                                <ul>
                                    <div class="container">
                                        <div>
                                            <li><a href="/en/for-traders/interest-rates/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/bank_percents.svg">World Interest Rates</a></li>
                                            <li><a href="/en/for-traders/signals/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/signals.svg">Trading signals</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/for-traders/calendar/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/calendar.svg">Economic calendar</a></li>
                                            <li><a href="/en/for-traders/calculators/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/calculator.svg">Trading calculators</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/for-traders/bloomberg-online/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/bloomberg.svg">Bloomberg online</a></li>
                                            <li><a href="/en/for-traders/forextv/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/forex_tv.svg">Forex TV</a></li>

                                        </div>
                                        <div>
                                            <li><a href="/en/for-traders/kyc/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/verification.svg">KYC</a></li>
                                            <li><a href="/en/for-traders/faq/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/faq.svg">FAQ</a></li>
                                        </div>
                                        <div>
                                            <li><a href="/en/for-traders/platforms/"> <img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/platforms.svg">Trading platforms</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <form id="lang-form" action="/i18n/setlang/" method="post">
                                    <input type='hidden' name='csrfmiddlewaretoken' value='tgu6MhnzB56AP9F6hsAB6rt086DcWmtW9ovYLMWOIcmvXbfySow9IuKd1KT04oeq' />
                                    <select name="language" id="language" class="" hidden>
                                        
                                        [(&#39;en&#39;, &#39;English&#39;), (&#39;ru&#39;, &#39;Russian&#39;), (&#39;de&#39;, &#39;Germany&#39;), (&#39;it&#39;, &#39;Italy&#39;), (&#39;ar&#39;, &#39;Arabic&#39;), (&#39;pt&#39;, &#39;Portugal&#39;), (&#39;es&#39;, &#39;Spain&#39;), (&#39;fr&#39;, &#39;France&#39;)]
                                        
                                        <option value="en"
                                                selected="selected">
                                        English
                                        </option>
                                        
                                        <option value="ru"
                                                >
                                        Русский
                                        </option>
                                        
                                        <option value="de"
                                                >
                                        Deutsch
                                        </option>
                                        
                                        <option value="it"
                                                >
                                        italiano
                                        </option>
                                        
                                        <option value="ar"
                                                >
                                        العربيّة
                                        </option>
                                        
                                        <option value="pt"
                                                >
                                        Português
                                        </option>
                                        
                                        <option value="es"
                                                >
                                        español
                                        </option>
                                        
                                        <option value="fr"
                                                >
                                        français
                                        </option>
                                        
                                    </select>
                                </form>
                                <div class="dropdown language-menu">
                                    
                                    <a id="lang" href="#" data-toggle="dropdown">
                                        
                                        En
                                        <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/gb-round.png">
                                        
                                    </a>
                                    <ul id='lang-menu' class="dropdown-menu pull-right text-center" aria-labelledby="dLabel">
                                        <li  class="highlighted"><button value="en" class="btn btn-sm">
                                                En
                                                <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/gb-round.png">
                                            </button></li>
                                            <li ><button value="ru" class="btn btn-sm">
                                                    Ru
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/ru-round.png">
                                                </button></li>
                                            <li ><button value="de" class="btn btn-sm">
                                                    De
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/german.png">
                                                </button></li>
                                            <li ><button value="it" class="btn btn-sm">
                                                    It
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/italy.png">
                                                </button></li>
                                            <li ><button value="ar" class="btn btn-sm">
                                                    Ar
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/arab.png">
                                                </button></li>
                                            <li ><button value="pt" class="btn btn-sm">
                                                    Pt
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/pt-round.png">
                                                </button></li>
                                            <li ><button value="es" class="btn btn-sm">
                                                    Es
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/spain.png">
                                                </button></li>
                                            <li ><button value="fr" class="btn btn-sm">
                                                    Fr
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/france.png">
                                                </button></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <nav class="navbar-credo navbar navbar-inverse bs-navbar">
                        <div class="container-fluid">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="dropdown language-menu">
                                    
                                    <a id="lang" href="#" data-toggle="dropdown">
                                        
                                        En
                                        <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/gb-round.png">
                                        
                                    </a>
                                    <ul id='lang-menu' class="dropdown-menu pull-right text-center" aria-labelledby="dLabel">
                                        <li  class="highlighted"><button value="en" class="btn btn-sm">
                                                En
                                                <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/gb-round.png">
                                            </button></li>
                                            <li ><button value="ru" class="btn btn-sm">
                                                    Ru
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/ru-round.png">
                                                </button></li>
                                            <li ><button value="de" class="btn btn-sm">
                                                    De
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/german.png">
                                                </button></li>
                                            <li ><button value="it" class="btn btn-sm">
                                                    It
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/italy.png">
                                                </button></li>
                                            <li ><button value="ar" class="btn btn-sm">
                                                    Ar
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/arab.png">
                                                </button></li>
                                            <li ><button value="pt" class="btn btn-sm">
                                                    Pt
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/pt-round.png">
                                                </button></li>
                                            <li ><button value="es" class="btn btn-sm">
                                                    Es
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/spain.png">
                                                </button></li>
                                            <li ><button value="fr" class="btn btn-sm">
                                                    Fr
                                                    <img class="lang-flag" alt="flag" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/langs/france.png">
                                                </button></li>
                                    </ul>
                                </div>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-bs" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo-holder">
                                    <a href="/en/"><img alt="logo" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/logo.png"></a>
                                </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-bs">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a id="mainpage" href="/en/" >Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="trd">Trading ways<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/en/trading-methods/mam-account/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/pamm.svg"> MAM Account</a></li>
                                            <li><a href="/en/trading-methods/copytrade/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/copy_trades.svg"> CopyProfit</a></li>
                                            <li><a href="/en/trading-methods/robotrading/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/robotrading.svg"> Automated Trading Systems</a></li>
                                            <li><a href="/en/trading-methods/personal-analyst/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/personal_analitic.svg"> Personal analyst</a></li>
                                            <li><a href="/en/trading-methods/selftrading/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/trading-metod/self_trade.svg"> Self-trading</a></li>
                                            <li><a href="/en/trading-methods/account-types/"><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/account_types.svg"> Types of accounts</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a id="depsts" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deposits/Investments<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/en/deposits/cfd/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/cfd.svg"> CFD</a></li>
                                            <li><a href="/en/deposits/fx/"><img alt="forex" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/forex.svg"> Forex</a></li>
                                            <li><a href="/en/deposits/cm/"><img alt="cm" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/cm.svg"> CM</a></li>
                                            <!-- <li><a href=""><img alt="ipo" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/ipo.svg"> IPO</a></li> -->
                                            <!-- <li><a href=""><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/invet_portfolio.svg"> Investment portfolio</a></li> -->
                                            <li><a href="/en/deposits/futures-indexes/"><img alt="futures" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/futeres.svg"> Index futures</a></li>
                                            <li><a href="/en/deposits/bitcoin/"><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/bitcoin.svg"> Investment in Bitcoin</a></li>
                                            <!-- <li><a href=""><img alt="portfolio" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/deposits/mining.svg"> Cloud Mining</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a id="abt" href="/en/about/">About</a></li>
                                    <li><a id="htstrt" href="/en/how-to-start/">Get started</a></li>
                                    <li class="dropdown">
                                        <a id="frtrdrs" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trading Tools<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/en/for-traders/interest-rates/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/bank_percents.svg"> World Interest Rates</a></li>
                                            <li><a href="/en/for-traders/calendar/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/calendar.svg"> Economic calendar</a></li>
                                            <li><a href="/en/for-traders/calculators/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/calculator.svg"> Trading calculators</a></li>
                                            <li><a href="/en/for-traders/bloomberg-online/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/bloomberg.svg"> Bloomberg online</a></li>
                                            <li><a href="/en/for-traders/forextv/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/forex_tv.svg"> Forex TV</a></li>
                                            <li><a href="/en/for-traders/kyc/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/verification.svg"> KYC</a></li>
                                            <li><a href="/en/for-traders/faq/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/faq.svg"> FAQ</a></li>
                                            <li><a href="/en/for-traders/platforms/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/platforms.svg"> Trading platforms</a></li>
                                            <li><a href="/en/for-traders/signals/"><img alt="cfd" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/menu_icons_mobile/for-traders/signals.svg"> Trading signals</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href=""><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/mail.png"> <span class="__cf_email__" data-cfemail="63101613130c111723010c1b0a0d150610170a0d044d000c0e">[email&#160;protected]</span></a></li>
                                    <li><a href=""><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/message.png"> Chat</a></li>
                                    <li><a href="/en/support/"><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/headset.png"> Support</a></li>
                                    <li><a href=""><img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/sirix.png"> Web-platform</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/register">Sign Up</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>
                </div>


            </div>

        </section>
        

<input id="slide-1-trigger" type="radio" name="slides" checked hidden>
<section class="slide-base auth-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <div class="form-wrap">
                    <h2 class="form-title">Login</h2>
                    <form action="/login" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</section>



            <section class="payment-systems">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="https://boxinvest-bucket.s3.amazonaws.com/static/information/images/funeral_logo.png" width="100%">
                        </div>
                    </div>
                </div>
            </section>
            

        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/jquery.min.js"></script>
        <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <!--[if lt IE 9]>
            <script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <![endif]-->

            <!-- Owl Carousel -->
            <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/information/assets/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>

            <!-- Libphonenumber -->
            <script src="https://boxinvest-bucket.s3.amazonaws.com/static/information/js/vendors/libphonenumber-js.min.js"></script>

            <!-- jQuery validation Plugin -->
            <script src="https://boxinvest-bucket.s3.amazonaws.com/static/userprofile/js/jquery.validate.min.js" type="text/javascript"></script>

            <script type="text/javascript" src="https://boxinvest-bucket.s3.amazonaws.com/static/CACHE/js/b6e79c5c7190.js"></script>

            

<!--   Core JS Files   -->
<script src="https://boxinvest-bucket.s3.amazonaws.com/static/userprofile/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- jQuery validation Plugin -->
<script src="https://boxinvest-bucket.s3.amazonaws.com/static/userprofile/js/jquery.validate.min.js" type="text/javascript"></script>



<%- include('partials/footer'); -%>

